In [1]:
import pickle
import numpy as np
import os
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../input/smart-reply-sentence-similarity-using-annoy/input_similarity_matrix.txt", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21851,21852,21853,21854,21855,21856,21857,21858,21859,21860
0,[0.0,1.141314,0.739278,1.065237,1.364808,1.361341,1.267907,0.358515,0.995389,0.855678,...,1.321036,0.768110,1.311950,1.388766,1.245038,1.167628,0.953615,1.255388,0.805379,1.199280023574829]
1,[1.141314148902893,0.000000,1.208509,1.245685,1.383762,1.216114,1.269372,0.953707,0.791277,1.128460,...,1.309301,1.103240,1.229787,1.379067,1.325001,1.325661,1.295232,1.293990,1.191827,0.9326186180114746]
2,[0.7392775416374207,1.208509,0.000000,0.720378,1.368834,1.256209,0.986893,0.763642,0.929416,1.020079,...,0.967532,0.912500,1.335236,1.114811,0.965196,1.070835,1.089031,1.333803,0.838690,1.3089876174926758]
3,[1.0652371644973755,1.245685,0.720378,0.000000,1.194829,1.380972,0.619906,1.102341,0.900154,1.231292,...,0.440970,1.094629,1.365876,1.363651,1.253728,1.320156,1.246677,1.373108,1.063383,1.3540117740631104]
4,[1.364808440208435,1.383762,1.368834,1.194829,0.000000,1.392209,1.400194,1.392744,1.395235,1.354218,...,1.408263,1.351133,1.352064,1.384548,1.360818,1.335063,1.395140,1.375792,0.943220,1.3656384944915771]

In [3]:
# first and last column data contains [ and ]
df.iloc[:,0]

0                       [0.0
1         [1.141314148902893
2        [0.7392775416374207
3        [1.0652371644973755
4         [1.364808440208435
                ...
21856    [1.1676279306411743
21857    [0.9536146521568298
21858    [1.2553884983062744
21859    [0.8053792715072632
21860     [1.199280023574829
Name: 0, Length: 21861, dtype: object

In [4]:
df.iloc[:,-1:]

                      21860
0        1.199280023574829]
1       0.9326186180114746]
2       1.3089876174926758]
3       1.3540117740631104]
4       1.3656384944915771]
...                     ...
21856    1.186025619506836]
21857   1.3036071062088013]
21858   1.0414623022079468]
21859    1.249380111694336]
21860                  0.0]

[21861 rows x 1 columns]

In [5]:
# cleaning first and last columns
df.iloc[:,0] = df.iloc[:,0].str.replace("[", "").str.strip()
df.iloc[:,-1:] = df.iloc[:,-1].str.replace("]", "").str.strip()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df.iloc[:,0]

0                       0.0
1         1.141314148902893
2        0.7392775416374207
3        1.0652371644973755
4         1.364808440208435
                ...
21856    1.1676279306411743
21857    0.9536146521568298
21858    1.2553884983062744
21859    0.8053792715072632
21860     1.199280023574829
Name: 0, Length: 21861, dtype: object

In [7]:
df.iloc[:,-1:]

                    21860
0       1.199280023574829
1      0.9326186180114746
2      1.3089876174926758
3      1.3540117740631104
4      1.3656384944915771
...                   ...
21856   1.186025619506836
21857  1.3036071062088013
21858  1.0414623022079468
21859   1.249380111694336
21860                 0.0

[21861 rows x 1 columns]

In [8]:
# saving the dataframe 
df.to_csv('input_similarity_matrix_float.csv', header=False, index=False)